* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(255, 216, 169, 0.173);
  width: 100%;
  overflow-x: hidden;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 40%; */
  
}

.logo-hiring {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hiring {
  font-size: 13px;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    to right,
    rgba(252, 185, 90, 0.8),
    rgba(225, 54, 2, 0.923)
  );
}


.nav-links {
  display: flex;
  gap: 30px;
  font-family: Google Sans;
  font: lighter;
  /* width: 40%; */
}

.sign-up {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: Google Sans;
}



.waitlist {
  font-size: 15px;
  /* height: 56px; */
  background-color: rgba(64, 102, 226, 0.934);
  padding: 16px;
  border-radius: 6px;
  color: #ffffff;
  font-family:Google Sans;
}

.body-section {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  padding-bottom:50px ;
}

.h1 {
  font-size: 4.1rem;
  font-weight: bolder;
  font-family: "Playfair Display", serif;
  width: 650px;
}

.subtitle {
  font-size: 20px;
  color: rgba(15, 15, 15, 0.74);
  width: 620px;
  padding-top: 10px;
  line-height: 1.3;
  font-family: Open Sans;
}

.submit {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}

.email-input {
  padding: 20px;
  width: 380px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
}

.join-waitlist {
    width:150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px;
  /* font-weight: 500; */
  background-color: rgba(64, 102, 226, 0.934);
  border-radius: 6px;
  color: white;
  font-family: Google Sans;
}

.check {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-family: Open Sans;
}

.note {
  font-size: 17.5px;
  width: 350px;
  padding: 10px;
  color: rgba(15, 15, 15, 0.74);
}

.image-content {
  position: relative;
  width: 400px;
  height: 520px;
}

.hero-image {
  width: 400px;
  position: absolute;
  z-index: 4;
  /* transform: rotate(-deg); */
}

.Blue {
  position: absolute;
  z-index: 1;
  transform: rotate(-45deg) 
}

.Pink {
  position: absolute;
  z-index: 2;
  transform: rotate(-30deg)
}

.Purple {
  position: absolute;
  z-index: 3;
  transform: rotate(-15deg);
}

.footer {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media {
  display: flex;
  gap: 20px;
  font-family: Open Sans;
  color: rgba(15, 15, 15, 0.708);
}

.help {
  display: flex;
  gap: 12px;
}

.questions
{
    font: optional;
}
.symbol{
  font-family:  "Playfair Display", serif;;
}
.talk {
  font-size: 15px;
  font-family: Open Sans;
  font-weight: bold;
}
.menu{
  display: none;
}
@media (max-width:776px){
  *{
    overflow-x: hidden;
  }
  header{
    width: 100%;
    padding:10px 0%;

  }
  body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
  }
  .nav-links{
    display: none;
  }
  .nav-bar{
    width: 100%;
    height: 70px;
    padding: 0px 20px;
  }
  .sign-up{
    display: none;
  }
  .menu{
    display: block;
  }
  .body-section{
    flex-direction: column-reverse;
    padding-top: 10px;
  }
  .text-content{
    width: 100%;
    padding-bottom: 30px ;
  }
  .text-content .h1{
    font-size: 3.5rem;
        width: 90%;
        margin: 0px auto; 
      font-family:  "Playfair Display", serif;
     }
  .subtitle{
        width: 90%;
        margin: 0px auto; 
       font-size: 17.5px;
       line-height: 1.8rem;
     }
  .submit{
            width: 90%;
        margin: 20px auto;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
  }
  .email-input
  {
    width: 48%;
  }

  .check{
            width: 90%;
        margin: 0px auto;
        gap: 15px;
  }
  .note{
   font-size: 17px;
   width: 350px;
   padding: 3px; 
  }
  .image-content
  {
    height:375px;
  }
  .hero-image{
    width:70%;
    margin:auto;
    left:70px;
  }
.Pink{
  width:70%;
    margin:auto;
    left:70px;
}
.Blue{
  width:70%;
    margin:auto;
    left:70px;
}
.Purple
{
  width:70%;
    margin:auto;
    left:70px;
}

  .footer{
    width: 90%;
    /* flex-direction: column; */
    margin: 40px;
    align-items:center;
  }
  .help{
    width: fit-content;
    gap: 20px;
    /* margin-top: 40px; */
  
  }
 
}
 @media (max-width:426px)
{
.join-waitlist
{
  width: 100%;
}
.subtitle{
  font-size: 16.5px;
  width: 88%;
}
.footer{
    width: 100%;
    flex-direction: column;
    margin: 25px;
    align-items: flex-start;
  }
  .help{
    width: fit-content;
    gap: 20px;
   margin-top: 40px;
  
  }
  .text-content .h1{
    max-width: 100%;
    margin: 18px;
    font-size: 3rem;
 font-family: "Playfair Display", serif ;
  }
  .questions
  {
    font-family:  "Playfair Display", serif;
  }
  .email-input
  {
    width: 100%;
  }
 
} 